<html>
<head>
  <style>
		table {
    		border-collapse: collapse;
		}

		table, th, td {
    		border: 1px solid black;
		}

		td {
			padding:10px;
		}
  </style>
  <script src="jquery-3.2.1.min.js"></script>
</head>
<body>

<div style="float:left;width:50%;height:100%;border-right:1px solid #ccc">

	<h1>Cloudfuncs</h1>

	<form action="/oauth2/auth" method="GET">
	<button type="submit">Login to Salesforce</button>
	</form>

	<h2>Connections<h2>

	<table>
	    <tr>
		  <th>Username</th><th>Org Id</th>
		</tr>
	  <% for (var userId in users) { %>
	  <% user = users[userId] %>
	  	<tr>
	  		<td><%= user.username %></td>
	  		<td><%= user.organization_id %></td>
	  	</tr>
	  <% } %>
	</table>

	<hr>
	<h2>Subscriptions</h2>
	<table>
	    <tr>
		  <th>Platform Event</th><th>Function</th><th>Org Id</th>
		</tr>
	  <% for (var pe in subs) { %>
	  <% sub = subs[pe] %>
	  	<tr>
	  		<td><%= pe %></td>
	  		<td><a href="#" onclick="loadFunction('<%= sub.function %>')"><%= sub.function %></a></td>
	  		<td><%- sub.connections.join("<br />") %></td>
	  	</tr>
	  <% } %>
	</table>
</div>

<div style="float:left;width:49%;height:99%">
	<pre id="codediv" style="height:55%;border-bottom:1px solid #CCC;overflow:scroll">
	</pre>
	<pre id="logs" style="height:45%;overflow:scroll;background-color:#DDD"></pre>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
  	var socket = io();
  	socket.on('message', function(msg){
  		$('#logs').append(msg + "\n");
  		$('#logs').scrollTop($('#logs')[0].scrollHeight)
    	console.log('message: ' + msg);
  	});

  function loadFunction(func) {
  	$.get('/dashboard/getfunc/' + func, function(data) {
  		$('#codediv').text(data);
  	}, 'text');
  }
</script>


</body>
</html>
